<!--   link_to coupon.name, coupon_path  %>  change to a javascript print dialog -->
  
  
  
  <script>
  
  $(document).ready(function() {
$('a.print').click(function(){
	window.print();
	return false;
});
});

</script>





<a href="images/stairs.jpg" rel="facebox">text</a>

<a href="#" class="print">Print this page</a>

  <div id="coupon">
  <h2> <%= coupon.name %> </h2>
  <%= link_to "print", "#", :rel => "facebox", :title => "Print #{coupon.name}" %>
  <h3> Expires: <%= coupon.expires_on %></h3>
  <% if current_user.admin? %>
  <%= link_to "edit", edit_coupon_path(:id => coupon.id),
                                :title => "Edit #{coupon.name}" %>
  <%= link_to "delete", coupon, :method => :delete, :confirm => "Delete this coupon?",
                                :title => "Delete #{coupon.name}" %>                              
   
  <% end %>
  </div>
 
