<h1> Select Payment Method </h1>
<%= render 'shared/error_messages', :object => f.object %>
<% if !signed_in? %>
<h2> Personal Information </h2>
<div class="field">
  <%= f.label :name, "Full Name" %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<% end %>
<h2> <%= "You're purchasing #{todays_deal.name}" %> </h2>
<h2> Billing Information </h2>

<div class="field">
  <%= f.label :first_name, "First Name" %><br />
  <%= f.text_field :first_name %>
</div>
<div class="field">
  <%= f.label :last_name, "Last Name" %><br />
  <%= f.text_field :last_name %>
</div>
<div class="field">
  <%= f.label :card_type, "Card Type" %><br />
  <%= f.select :card_type, {"Visa" => "visa", "Mastercard" => "master", "Discover" => "discover", "American Express" => "american_express"} %>
						    
</div>
<div class="field">
  <%= f.label :card_number, "Card Number" %><br />
  <%= f.text_field :card_number %>
</div>
<div class="field">
  <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
  <%= f.text_field :card_verification %>
</div>
<div class="field">
  <%= f.label :card_expires_on, "Card Expiration Date" %><br />
  <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year,
									  :end_year => (Date.today.year+10), :add_month_numbers => :true %>
</div>

