<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :starting_date %><br />
  <%= f.text_field :starting_date %>
</div>
<div class="field">
  <%= f.label :days_available %><br />
  <%= f.text_field :days_available %>
</div>
<div class="field">
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</div>
<div class="field">
  <%= f.label :value %><br />
  <%= f.text_field :value %>
</div>
<div class="field">
  <%= f.label :num_available, "Number Available" %><br />
  <%= f.text_field :num_available %>
</div>
<div class="field">
  <%= f.label :num_needed_to_unlock, "Number of purchases needed to unlock the deal" %><br />
  <%= f.text_field :num_needed_to_unlock %>
</div>
<div class="field">
  <%= f.label :expires %><br />
  <%= f.text_field :expires %>
</div>
<div class="field">
  <%= f.label :blurb %><br />
  <%= f.text_area :blurb %>
</div>
<div class="field">
  <%= f.label :company %><br />
  <%= f.text_field :company %>
</div>
<div class="field">
  <%= f.label :location %><br />
  <%= f.text_field :location %>
</div>
