<header>
  <nav class="round">
    <ul>
		<li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Coupons", '#' %></li>
        <li><%= link_to "Events", '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
   <%= image_tag("logo-cropped.png", :alt => "WaznooDeals!", :class => "round") %>
</header>

