<header>
  <% logo = image_tag("logo-cropped.png", :alt => "WaznooDeals!") %>
  <%= link_to logo, root_path %>
  <nav class=>
    <ul>
		<li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "COUPONS", coupons_path %></li>
        <li><%= link_to "EVENTS", events_path %></li>
        <li><%= link_to "SIGN IN", '#' %></li>
    </ul>
  </nav>
  
</header>
