<ul>
  <li><%= link_to "Our Philosophy", philosophy_path %></li>
  <li><%= link_to "How It Works", how_it_works_path %></li>
  <li><%= link_to "Previous Deals", previous_deals_path %></li>
  <li><%= link_to "Support", '#' %></li>
<!--  <ul>
	<li><%= link_to "For Customers", support_customers_path %></li>
    <li><%= link_to "For Businesses", support_businesses_path %></li>
  </ul>
-->  
  <li><%= link_to "Subscribe!", subscribe_path %></li>
</ul>


<!--
<table class="sidebar" summary="S">
  <tr>
    <td>
        <%= link_to "Our Philosophy", philosophy_path %>
    </td>
    <td>
		<%= link_to "How It Works", how_it_works_path %>
    </td>
    <td>
		<li><%= link_to "Previous Deals", previous_deals_path %></li>
    </td>
    <td>
		<li><%= link_to "Support", '#' %></li>
    </td>
    <td>
		<li><%= link_to "For Customers", support_customers_path %></li>
		<li><%= link_to "For Businesses", support_businesses_path %></li>
    </td>
    <td>
		<li><%= link_to "Subscribe!", subscribe_path %></li>
    </td>
  </tr>
</table>
-->
