<sidebar class="round">
          <ul>
            <li><%= link_to "Our Philosophy", '#' %></li>
            <li><%= link_to "How It Works", '#' %></li>
            <li><%= link_to "Previous Deals", '#' %></li>
            <li><%= link_to "Support", '#' %></li>
				<ul>
					<li><%= link_to "For Customers", '#' %></li>
					<li><%= link_to "For Businesses", '#' %></li>
				</ul>
			<li><%= link_to "Subscribe!", '#' %></li>
          </ul>
</sidebar>
