<button class="round">Click here for help!</button>
<script>

$("button").click(function () {
	$("#buttons-side").slideToggle("slow");
	if ($(this).text() == ('Click here for help!')){
		$(this).text('Click here to hide');
	}else{
		$(this).text("Click here for help!");
	}
});    
</script>
<div id="buttons-side">
<ul>
  <li><%= link_to "What is Waznoo?", what_is_waznoo_path %></li>
  <li><%= link_to "About Us", about_us_path %></li>
  <li><%= link_to "Previous Deals", previous_deals_path %></li>
  <li><%= link_to "Support", '#' %></li>
<!--  <ul>
	<li><%= link_to "For Customers", support_customers_path %></li>
    <li><%= link_to "For Businesses", support_businesses_path %></li>
  </ul>
-->  
  <li><%= link_to "Subscribe!", subscribe_path %></li>
</ul>
</div>


